.container {
    width: 100%;
    height: 800px;
    text-align: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-from {
    display: flex;
    justify-content: center;
}

.lorem-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 70%;
}